<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAlumnoWCF" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53666/AlumnoWCF.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAlumnoWCF" contract="WCFservicios.IAlumnoWCF"
                name="BasicHttpBinding_IAlumnoWCF" />
        </client>
    </system.serviceModel>
</configuration>